#quinn-popup-modal .popup-header {
    font-size: 32px;
}


@media (max-width: 1000px) {
    #quinn-popup-modal {
        width: 600px !important;
    }

    #quinn-popup-modal .popup-header {
        font-size: 22px;
    }
}

@media (max-width: 650px) {
    #quinn-popup-modal {
        width: 90% !important;
    }
}

@media (max-width: 400px) {
    #quinn-popup-modal {
        width: 95% !important;
    }
}